<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <!--webp detection script for compatibility-->
    <script>!function(e){"use strict";function s(s){if(s){var t=e.documentElement;t.classList?t.classList.add("webp"):t.className+=" webp",window.sessionStorage.setItem("webpSupport",!0)}}!function(e){if(window.sessionStorage&&window.sessionStorage.getItem("webpSupport"))s(!0);else{var t=new Image;t.onload=t.onerror=function(){e(2===t.height)},t.src="data:image/webp;base64,UklGRi4AAABXRUJQVlA4TCEAAAAvAUAAEB8wAiMwAgSSNtse/cXjxyCCmrYNWPwmHRH9jwMA"}}(s)}(document);
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ $titleScratch := $.Scratch.Get "title" }}
    <title>{{if .IsHome }}{{ .Site.Params.HomeTitle }}{{ else }}{{ if $titleScratch }}{{ $titleScratch }}{{ else }}{{ replace .Title "-" " " }}{{ end }}{{if ne .Site.Title .Title }} | {{ .Site.Title }}{{ end }}{{ end }}</title>

    <link href="/blog/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $description := $.Scratch.Get "description" }}
    {{ if $description }}
    <meta name="description" content="{{- $description | plainify -}}">
    {{ else if (or ( .IsHome ) ( and (not .Description) (not .Summary) )) }}
    <meta name="description" content="{{- .Site.Params.HeaderDescription -}}">
    {{ else if .Description }}
    <meta name="description" content="{{- .Description | plainify -}}">
    {{ else if .IsPage }}
    <meta name="description" content="{{- .Summary | plainify -}}">
    {{ end }}

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-title" content="KiCad Website">
    <meta name="application-name" content="KiCad Website">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- youtube channel verification -->
    <meta name="google-site-verification" content="vRQHg4jXocsgn500MPK-VlG6XFw9YjJvEhRJDUStiyk" />
	<meta name="google-site-verification" content="2XG45MyvE5MKPPqmV07-vOx0Vy5u0LybDRU3vxNzm_E" />


    <!-- Main CSS -->
    {{ $style := resources.Get "css/kicad-bootstrap.css" | minify | fingerprint }}
    <link href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" rel="stylesheet">

    {{ $style := resources.Get "css/kicad-website.css" | minify | fingerprint }}
    <link href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" rel="stylesheet">

    <!-- FundDrive 2022 CSS -->
    {{ $style := resources.Get "css/fund-drive-2022.css" | minify | fingerprint }}
    <link href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" rel="stylesheet">

    <!-- OpenSans from Google -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet" crossorigin="anonymous">

    <!-- Font Awesome -->
    {{ $style := resources.Get "/fontawesome/css/all.min.css" | fingerprint }}
    <link href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" rel="stylesheet" type="text/css">


    {{ if $.Scratch.Get "additional_head_tags" }}{{ $.Scratch.Get "additional_head_tags" | safeHTML }}{{ end }}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    {{ "<!--[if lt IE 9]>" | safeHTML }}
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    {{ "<![endif]-->" | safeHTML }}

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ partial "jsonld.html" . }}
</head>

<body>
    <!-- FundDrive 2022 HTML -->
    <div class="fund-banner fund-banner--light bg-light fixed-top {{ if .IsHome }}transparent{{ end }}">
        <div class="container-sm">
            <div class="fund-banner__row">
                <!-- <div class="fund-banner__company">
                    <a href="https://www.kipro-pcb.com/" target="_blank">
                        <svg width="111" height="398" viewBox="0 0 111 398" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m 7.86105,398 c 1.394596,0.022 2.716399,-1.26938 3.92825,-3.317 l 41.8751,-70.755 44.5463,70.976 c 1.1943,1.941 2.56681,3.18203 3.9283,2.963 6.82341,-1.09773 7.82759,-16.91883 7.856,-21.978 l 0.0123,-366.7268038 c 0.0566,-3.9932498 -1.84489,-9.25853577 -4.76907,-9.17759074 L 0,-2.23653e-5 0.00455495,375.889 C -0.07059861,380.56445 1.618323,397.90128 7.86105,398 Z"
                            fill="#1f4fff"/>
                        <path
                            style="stroke:#ffffff;stroke-width:0.79375;stroke-dasharray:6.35, 6.35"
                            d="m 3.0975108,0.9063669 c 0,0 1.9961119,10.6973291 1.9961119,17.6302251 V 381.11023"/>
                         <path
                            style="stroke:#ffffff;stroke-width:0.79375;stroke-dasharray:6.35, 6.35"
                            d="m 102.80572,0.37987025 c 0,0 2.08307,6.64569615 2.08307,17.98588775 l 0,362.221152"/>
                        </svg>
                        <div class="fund-banner__company-logo">
                            <img src="/img/about/ksc-logo.png" style="max-width: 65%;" loading="lazy">
                        </div>
                    </a>
                </div> -->
                <div class="fund-banner__text--light">
                    The KiCad 2022 Fund Drive is here! <br/>  <a href="https://donate.kicad.org/" data-bs-toggle="modal" data-bs-target="#donate-modal">
                        Donate now</a> to support the development of KiCad in 2023
                </div>
                <div class="fund-banner__bar">
                    <div class="fund-banner__bar-container">
                        <div class="fund-banner__bar-progress"></div>
                        <div class="fund-banner__bar-current">
                            <div class="fund-banner__bar-current-sum">
                                $76,121
                            </div>
                            <div class="fund-banner__bar-current-text">
                                donated
                            </div>
                        </div>
                    </div>
                    <div class="fund-banner__bar-total">
                        $100,000 TOTAL
                    </div>
                </div>
                <div class="fund-banner__close-btn">
                    <button type="button" aria-label="Close fund drive banner"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top {{ if .IsHome }}transparent{{ end }}">
        <div class="container-sm">
        <a aria-label="Go to the KiCad home page" class="navbar-brand" href="/">
            <img src="/img/kicad_logo_small.png" alt="" loading="lazy">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {{ partial "navbar.html" . }}
        </div>
    </nav>
{{ if not .IsHome }}
    <header class="intro-header page-header-decor">
    </header>
{{end}}

